$color-light-neutro-bg: #eedfdf //#FFF6F6
$color-black: #1A1A1A //#0C0A0A
$color-black-100: #0c0a0a23
$color-white: #FFF

$color-primary: #DE1215

$color-goal-primary: #001669
$color-goal-primary-light: #E5EEFF //#FFF5F5 

.white
  color: $color-white