
.stack-sans-text
  font-family: "Stack Sans Text", sans-serif
  font-optical-sizing: auto
  font-weight: weight
  font-style: normal

.stack-sans-headline
  font-family: "Stack Sans Headline", sans-serif
  font-optical-sizing: auto
  font-weight: weight
  font-style: normal

$font-suiza: 'SuizaDEMO-Regular', sans-serif
$font--headline: "Stack Sans Headline", sans-serif
$font--text: " Stack Sans Text", sans-serif

$font-display: clamp(4rem, 2.3529rem + 6.2745vw, 8rem)
$font-Heading: 6rem
$font-subheading: 4rem
$font-heading-title: 2.5rem
$font-heading-sub-title: 2.25rem
$font-heading-body: 2rem
$font-body: 1.25rem
$font-body-small: 1.125rem
$font-small: 1.4rem
$font-tiny: 1rem
$font-small-tiny: .875rem


/********************* TIPOGRAPHY **********************/
//HEADLINE
$font-size-display: clamp(3rem, -0.1176rem + 9.0196vw, 8rem)
$font-size-display-sm: clamp(3rem, -0.1176rem + 7.0196vw, 6rem)
$font-size-h1: clamp(2.5rem, 2.2941rem + 0.7843vw, 3rem)//clamp(5.625rem, calc(5.625rem + (5.61 - 2.3) * ((100vw - 375px) / (1065))), 5.61rem)
$font-size-h2: clamp(2.0625rem, 1.8824rem + 0.6863vw, 2.5rem) //clamp(4.1875rem, calc(4.1875rem   + (3.052 - 2) * ((100vw - 375px) / (1065))), 3.052rem)
$font-size-h3: clamp(1.6875rem, 1.5331rem + 0.5882vw, 2.0625rem) //clamp(3.125rem, calc(3.125rem + (2.441 - 1.625) * ((100vw - 375px) / (1065))), 2.441rem)
$font-size-h4: clamp(1.4375rem, 1.3346rem + 0.3922vw, 1.6875rem) //clamp(2.375rem, calc(2.375rem + (1.953 - 1.375) * ((100vw - 375px) / (1065))), 1.953rem)
$font-size-h5: clamp(1.1875rem, 1.0846rem + 0.3922vw, 1.4375rem) //clamp(1.75rem, calc(1.75rem + (1.562 - 1.125) * ((100vw - 375px) / (1065))), 1.562rem)
//$font-size-h6: clamp(1rem, 0.9228rem + 0.2941vw, 1.1875rem) //clamp(1.3125rem, calc(1.3125rem + (1.25  - 1) * ((100vw - 375px) / (1065))), 1.25rem)

// xxxxxxx
$font-size-body:  clamp(1rem,     calc(1rem     + (1.25  - 1)     * ((100vw - 375px) / (1065))), 1.25rem)

//PRAGRAPH
$fs-body-xl: clamp(1rem, 0.9228rem + 0.2941vw, 1.1875rem) //clamp(1.125rem, calc(1.125rem + (1.125 - 1.125) * ((100vw - 375px) / (1065))), 1.125rem)
$fs-body: clamp(1rem, 1rem + 0vw, 1rem) //clamp(1rem, calc(1rem + (1 - 1) * ((100vw - 375px) / (1065))), 1rem)
$fs-body-small: clamp(0.9375rem, 0.9118rem + 0.098vw, 1rem) //clamp(0.875rem, calc(0.875rem + (0.875 - 0.875) * ((100vw - 375px) / (1065))), 0.875rem)
//$fs-body-xs: clamp(0.75rem,  calc(0.75rem  + (0.75  - 0.75)   * ((100vw - 375px) / (1065))), 0.75rem)

//PFONT WEIGHT
$fw--2: 200
$fw--3: 200
$fw--4: 200
$fw--5: 200
$fw--6: 200
$fw--7: 200

/*******************************************
  FONT NEW *******/

.head-display
  font-size: $font-size-display-sm
  line-height: 1.1
  font-family: $font--headline

.headline-display
  font-size: $font-size-display
  line-height: 1.1
  font-family: $font--headline

.headline-h1
  font-size: $font-size-h1
  line-height: 1.15
  font-family: $font--headline

.headline-h2
  font-size: $font-size-h2
  line-height: 1.5
  font-family: $font--headline

.headline-h3
  font-size: $font-size-h3
  line-height: 1.25
  font-family: $font--headline

.headline-h4
  font-size: $font-size-h4
  line-height: 1.5
  font-family: $font--headline

.headline-h5
  font-size: $font-size-h5
  line-height: 1.5
  font-family: $font--text

.headline-h5-sans
  font-size: $font-size-h5
  line-height: 1.5
  font-family: $font--headline


.body-text
  font-size: $fs-body-xl
  line-height: 1.75
  font-family: $font--text

.body-text-sans
  font-size: $fs-body-xl
  line-height: 1.75
  font-family: $font--headline


.text-small
  font-size: $fs-body
  line-height: 1.75
  font-family: $font--text

.text-small-sans
  font-size: $fs-body
  line-height: 1.75
  font-family: $font--headline

/*******************************************
  FONT WEIGHT *******/

.fw-2 
  font-weight: 200

.fw-3 
  font-weight: 300

.fw-4 
  font-weight: 400

.fw-5
  font-weight: 500

.fw-6
  font-weight: 600

.fw-7
  font-weight: 700






/******* OLD ****************/
.heading-h2
  font-size: $font-display
  line-height: 1.1
  font-family: $font--headline

.heading-title-h3
  font-family: $font--text
  font-size: $font-heading-title
  line-height: 1.1
  font-weight: 700

.heading-h4
  font-size: $font-heading-sub-title

//SUBTITLE
.title-body
  font-family: $font--headline
  font-size: $font-subheading
  line-height: 1.5
  font-weight: 700
  letter-spacing: .5px

.heading-body
  font-family: $font--headline
  font-size: $font-heading-body
  line-height: 1.5

.heading-body-subtitle
  font-family: $font--headline
  font-size: $font-size-h4
  font-weight: 600
  line-height: 1.5

.font-body
  font-family: $font--text
  font-size: $font-size-body
  line-height: 1.5
  font-weight: lighter

.font-body-title
  font-family: $font--headline
  font-size: $font-size-h1
  letter-spacing: -.05rem
  font-weight: 600
  line-height: 1

.font-body-bold
  font-family: $font--text
  font-size: $font-body
  line-height: 1.5
  font-weight: 700

.font-tiny
  font-family: $font--headline
  letter-spacing: .05em
  font-size: $font-tiny
  line-height: 1.5
  font-weight: 700

.font-body-tiny
  font-family: $font--text
  font-size: $font-tiny
  line-height: 1.75

.font-body-tiny-bold
  font-family: $font--text
  font-size: $font-tiny
  font-weight: 700
  line-height: 1.75
  letter-spacing: .23px

.font-body-tiny
  font-size: $font-small-tiny
  font-family: $font--text
  line-height: 1.75

.font-base-small
  font-size: $font-size-body
  font-family: $font--text
  font-weight: 300
  line-height: 1.75

.font-item
  font-family: $font--text

.font-text
  font-family: $font--text
  line-height: 1.75
  font-size: $font-size-body


/********************* MEDIA QUERIES *******************************************/
  