
$padding-prject: 3rem
$padding-xxl: 11rem
$padding-ldsg-9: 9rem
$padding-xl: 5rem
$padding-l: 4rem
$padding-md: 3rem
$padding-s: 2.5rem
$padding-xxs: 2rem
$padding-xs: 1.5rem
$padding: 1rem

$margin-ldsg-12: 12rem
$margin-ldsg-10: 10rem
$margin-ldsg-9: 9rem
$margin-ldsg-7: 7rem
$margin-ldsg-5: 5rem
$margin-xxxl: 4rem
$margin-xxl: 3.5rem
$margin-xl: 3rem
$margin-l: 2.5rem
$margin-md: 2rem
$margin-xmd: 1.5rem
$margin-s: 1rem
$margin-xs: .75rem
$margin-xxs: .5rem
$margin-xxxs: .25rem


$space-xxs: .25rem
$space-xs: .5rem //8px
$space-sm: 1rem //16px
$space-md: 1.5rem //24px
$space-lg: 2rem //32px
$space-xl: 2.5rem //40px
$space-2xl: 3rem //48px
$space-3xl: 3.5rem // 56px
$space-4xl: 4rem //64px
$space--ldsg: 4.5rem // 72px 
$space--ldsg-2: 5rem // 80px
$space--ldsg-3: 5.5rem // 88px
$space--ldsg-4: 6rem // 96px
$space--ldsg-5: 6.5rem // 104px
$space--ldsg-6: 7rem // 112px
$space--ldsg-7: 8rem // 128px
$space--ldsg-8: 10rem // 160px
$space--ldsg-x: 12rem // 
$space--ldsg-xs: 14rem // 
$space--ldsg-sm: 16rem // 


.mg-01
	margin-bottom: $space-sm

.mg-02
	margin-bottom: $space-md

.mg-03
	margin-bottom: $space-lg

.mg-04
	margin-bottom: $space-xl

.mg-04
	margin-bottom: $space-2xl

.mg-05
	margin-bottom: $space-3xl

.mg-06
	margin-bottom: $space-4xl

.mg-07
	margin-bottom: $space--ldsg-2

.mg-08
	margin-bottom: $space--ldsg-4

.mg-09
	margin-bottom: $space--ldsg-6

.mg-10
	margin-bottom: $space--ldsg-7

.mg-12
	margin-bottom: $space--ldsg-8

.mg-14
	margin-bottom: $space--ldsg-x

.mg-16
	margin-bottom: $space--ldsg-xs
	
.mg-18
	margin-bottom: $space--ldsg-sm








//MARGINS OLD
.mg-xs
	margin-bottom: $margin-xxs

.mg-1
	margin-bottom: $margin-xs

.mg-s
	margin-bottom: $margin-s
	
.mg-xm
	margin-bottom: $margin-xmd

.mg-md
	margin-bottom: $margin-md

.mg-3
	margin-bottom: $margin-xxl

.mg-xxl
	margin-bottom: $margin-xxxl

.mg-5
	margin-bottom: $margin-ldsg-5

.mg-md
	margin-bottom: $margin-md

.mg-9
	margin-bottom: $margin-ldsg-9