@use '../tokens/_font' as font
@use '../tokens/_color' as color
@use '../tokens/_spacing' as spacing
@use '../tokens/_border-radius' as border
@use '../base/_base' as base


.insigth--goal
	&__wrapper
		margin-top: spacing.$space--ldsg-8
		@media (min-width: 320px) and (max-width: 720px)
				margin-top: spacing.$space--ldsg-5

.definition--goal
	&__content
		.table-data-label-goal
			margin-top: spacing.$space--ldsg
			width: 100%
			overflow-x: auto
			-webkit-overflow-scrolling: touchh
			.tr--column
				position: relative
				border: 1px solid
				border-color: rgba(12, 10, 10, 0.137254902)
				padding: 1rem

.role--team
	&__content
		.role-card--goal
			height: 120px

.desicion--goal
	&__content
		margin-top: spacing.$space--ldsg-6
		@media (min-width: 320px) and (max-width: 919px)
			margin-top: spacing.$space--ldsg

.validation--goal
	.validation--table-goal
		margin-top: spacing.$space--ldsg
		width: 100%
		overflow-x: auto
		-webkit-overflow-scrolling: touch
		background-color: color.$color-white
		thead tr > th
			padding: .5rem .75rem
			border: 1px solid
			border-color: color.$color-black-overlay-100
			text-align: center
			margin-right: .25rem
		tbody tr > td
			border: 1px solid color.$color-black-overlay-100
			padding: .5rem .75rem
			vertical-align: top
		tbody tr td:nth-child(2),
		tbody tr td:nth-child(3)
			text-align: center
		.content-card-white
			padding: spacing.$space-md

.user-flow
	.effect-card
		margin-top: spacing.$space-3xl
		@media (min-width: 320px) and (max-width: 619px)
			margin-top: spacing.$space-lg

.site-map
	.effect-card
		margin-top: spacing.$space-3xl
		@media (min-width: 320px) and (max-width: 619px)
			margin-top: spacing.$space-lg

.ui-kit
	.grid--goal
			&__content
				background-color: color.$color-goal-primary
				padding: spacing.$padding-md
				@media (min-width: 320px) and (max-width: 619px)
					padding-block-start: spacing.$space-md
					padding-block-end: spacing.$space--ldsg
				.figure--grid
					padding-top: spacing.$space--ldsg-4
					@media (min-width: 320px) and (max-width: 619px)
						padding-top: spacing.$space-lg
					@media (min-width: 719px) and (max-width: 919px)
						padding-top: spacing.$space-lg
					.figure--mobile
						@media (min-width: 320px) and (max-width: 619px)
							margin-top: spacing.$space-lg
							display: flex
							flex-direction: column
							align-items: center
							justify-content: center
							img
								width: 180px
	.spacing--goal
		background-color: color.$color-goal-200
		padding: spacing.$padding-md
		@media (min-width: 320px) and (max-width: 719px)
			padding: spacing.$space-md
	

.visual-design
	.devices--goal
		margin-top: spacing.$space--ldsg-8
		@media (min-width: 320px) and (max-width: 619px)
			margin-top: spacing.$space--ldsg
		@media (min-width: 719px) and (max-width: 919px)
			margin-top: spacing.$space--ldsg
		.tablet--goal,
		.desktop-figure,
		.minimal-figure
			padding: spacing.$space-lg
			@media (min-width: 320px) and (max-width: 619px)
				padding: spacing.$space-sm
	.visual--mobile-content
		width: 100%
		position: relative
		background-color: color.$color-goal-primary-light


.frame-top
	margin-top: spacing.$space--ldsg-8
	@media (min-width: 320px) and (max-width: 619px)
		margin-top: spacing.$space-4xl
	@media (min-width: 719px) and (max-width: 919px)
		margin-top: spacing.$space--ldsg-3
