@use '../tokens/_font' as font
@use '../tokens/_color' as color
@use '../tokens/_spacing' as spacing
@use '../tokens/_border-radius' as border
@use '../base/_base' as base

.site-map-vuelve 
	.site-map-compostario
		padding: spacing.$space-2xl

.user-flow-vuelve
	figure
		padding: spacing.$space-2xl
	.headline-h5-sans
		margin-bottom: spacing.$space-2xl
		margin-bottom: spacing.$space-lg

.spacing--vuelve
	&__content
		background-color: #A2B260
		padding: spacing.$padding-md
		@media (min-width: 320px) and (max-width: 719px)
			padding: spacing.$space-md
		.figure--spacing
			padding-top: spacing.$space--ldsg-4
			@media (min-width: 320px) and (max-width: 619px)
				padding-top: spacing.$space-2xl
			@media (min-width: 719px) and (max-width: 919px)
				padding-top: spacing.$space-lg

.grid--vuelve
	&__content
		background-color: #3F9DA9
		padding: spacing.$padding-md
		.figure--grid
			padding-top: spacing.$space--ldsg
			@media (min-width: 320px) and (max-width: 619px)
				padding-top: spacing.$space-2xl
			@media (min-width: 719px) and (max-width: 919px)
				padding-top: spacing.$space-lg