@use '../tokens/_font' as font
@use '../tokens/_spacing' as spacing
@use '../tokens/_color' as color
@use '../base/_base' as base


//HERO SECTION
.hero-section
	position: relative
	overflow: hidden
	&__wrapper
		grid-column: 2 / -5
		padding-block: 10rem
		//@media (min-width: 992px) and (max-width: 1199.98px)
		//	padding-block: 7rem
		//@media (min-width: 768px) and (max-width: 991.98px)	
		//	padding-block-start: 5rem
		//	padding-block-end: 7rem
		@media (min-width: 320px) and (max-width:576px)
			padding-block-start: spacing.$space--ldsg-5
			padding-block-end: spacing.$space--ldsg-5
		.index-frame
			&__title
				font-size: font.$font-size-display-sm
				font-family: font.$font--headline
				font-weight: 400
				position: relative
				z-index: 100
				line-height: 1.1
				pointer-events: none
		
//FREELANCE
.section-intro
	margin-top: spacing.$space--ldsg
	@media (min-width: 320px) and (max-width:991.98px)
		margin-top: spacing.$space-2xl
	&__description
		grid-column: 4 / -4
		max-width: unset
		@media (min-width: 1024px)
			grid-column: 3 / -3
		@media (min-width: 768px) and (max-width: 991.98px)	
			grid-column: 3 / -3
		@media (min-width: 320px) and (max-width:576px)
			grid-column: 2 / -2
		.headline-h3
			text-align: center
			line-height: 1.75
			margin-block: spacing.$space--ldsg-7
			@media (min-width: 768px) and (max-width: 991.98px)
				margin-block: spacing.$space--ldsg-5
			@media (min-width: 320px) and (max-width:576px)
				margin-block: spacing.$space--ldsg-4
		.icon_logo
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			img
				width:16px
	&__text-intro
		padding-block: spacing.$space--ldsg-4
	&__headline-h2
		text-align: center

//FREELANCE
.case-study
	margin-block: spacing.$space--ldsg-8
	@media (min-width: 768px) and (max-width: 991.98px)	
		margin-bottom: spacing.$space--ldsg-7
	@media (min-width: 320px) and (max-width:576px)
		margin-bottom: spacing.$space--ldsg-2
	&__wrapper
		grid-column: 2 / -2
		.content-head
			&__description
				max-width: 680px
		.assets--content
			margin-top: spacing.$space--ldsg-6

//ABOUTE ME
.about-me
	position: relative
	padding-bottom: spacing.$padding-xxl
	&__title-head
		.headline-h1
			grid-column: 2 / -7
			@media (min-width: 768px) and (max-width: 991.98px)
				grid-column: 2 / -5
	&__description
		margin-top: spacing.$space--ldsg-5
		@media (min-width: 320px) and (max-width: 919px)
			margin-top: spacing.$space-md
	&__content
		gap: 1.5rem	
		max-width: unset
		.name_text
			grid-column: 3 / -10
			@media (min-width: 768px) and (max-width: 991.98px)
				grid-column: 2 / -9
				margin-bottom: spacing.$space-4xl
			@media (min-width: 320px) and (max-width:576px)
				grid-column: 2 / -2
				margin-top: 0
		.my_photo-mobile
			display: none
			@media (min-width: 320px) and (max-width: 576px)
				display: block
				grid-column: 2 / -2
				margin-block-start: spacing.$space--ldsg
				margin-block-end: spacing.$space-2xl
		.paragraph
			grid-column: 10 / -10
			max-width: unset
			margin-top: spacing.$space--ldsg-8
			@media (min-width: 719px) and (max-width: 991.98px)
				grid-column: 2 / -9
				margin-top: 0
			@media (min-width: 320px) and (max-width:576px)
				grid-column: 2 / -2
				margin-top: 0
				.font-body.mg-3
					margin-bottom: spacing.$space--ldsg-2
			.button--download
				margin-top: spacing.$space--ldsg-2
				
		.my_photo
			grid-column: 10 / 14
			max-width: unset
			@media (min-width: 768px) and (max-width: 991.98px)
				grid-column: 8 / 14
			@media (min-width: 320px) and (max-width: 576px)
				display: none

.skill
	margin-top: spacing.$space--ldsg-8
	&__content_skill
		grid-column: 3 / -3
		//@media (min-width: 360px) and (max-width:576px)
		@media (min-width: 320px) and (max-width: 991.98px)	
			grid-column: 2 / -2
	&__list
		display: flex
		flex-direction: column
		flex-wrap: nowrap
		margin-top: spacing.$space--ldsg
		@media (min-width: 320px) and (max-width:576px)
			margin-top: spacing.$space--ldsg-2
		.skill_modules
			.skill_ux
				&__head_skill
					display: flex
					align-items: center
					flex-wrap: nowrap
					gap: spacing.$space-xs
					.ph
						color: #1a1a1a71
					@media (min-width: 320px) and (max-width:576px)
						.headline-h2
							font-size: font.$font-size-h4
				&__body_description
					p
						padding-left: 2.85rem
						@media (min-width: 320px) and (max-width:576px)
							padding-left: 0